.table--portfolio {
  tbody {
    tr {
      td:first-child {
        font-size: 12px;
        grid-area: 1 / 1 / 4 / 2;

        @media (min-width: 400px) {
          font-size: inherit;
        }

        &::before {
          content: "Portfolio Already Deployed";
          display: block;
          font-weight: 400;
          color: var(--color-gray-800);

          @media (min-width: 768px) {
            display: none;
          }
        }
      }

      td:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;

        &::before {
          content: "15m % / entry";
        }
      }

      td:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;

        &::before {
          content: "1h % / entry";
        }
      }

      td:nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;

        &::before {
          content: "4h % / entry";
        }
      }

      td:not(:first-child) {
        display: block;

        @media (min-width: 450px) {
          display: flex;
        }

        @media (min-width: 768px) {
          display: table-cell;
        }

        &::before {
          display: block;
          font-size: 12px;
          color: var(--color-gray-800);

          @media (min-width: 450px) {
            display: inline-block;
            margin-right: 8px;
          }

          @media (min-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}
